* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0 0 2rem;
    padding: 0 0 1rem;
    border-bottom: 1px solid #eee;
}

.container {
    margin: 0 auto;
    max-width: 720px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects a {
    margin: 0 .5rem .5rem 0;
    padding: .4rem 1.2rem;
    border-radius: .2rem;
    background: #66f;
    color: #fff;
    text-decoration: none;
    word-wrap: nowrap;
}

.projects a:hover {
    background: #33c;
}